<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="">

    <title>Trabalho AV2</title>
</head>
<body>
    <main>
        <div>
            <form method="post" action="/sendEmail" autocomplete="off">
                <p>Por favor, insira os dados do pedido</p>
                <input name="emailClient" type="text" placeholder="mail.example.com" required autofocus />

                <button type="submit" cursor="pointer">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>