<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="">

    <title>Trabalho AV2</title>
</head>
<body>
    <main>
        <div>
            <form method="post" action="/receiveMessage" autocomplete="off">
                <p>Por favor, insira os dados do pedido</p>
                <input name="emailClient" type="text" placeholder="mail.example.com" required autofocus />
                <input name="numero" type="number" placeholder="0000" required autofocus />
                <input name="valor" type="number" placeholder="00.0" required autofocus />
                <br/>
                <br/>
                <input name="data" type="date" placeholder="00/00/0000" required autofocus />

                <button type="submit" cursor="pointer">Submit</button>
                <!-- <input type="button" cursor="pointer" value="Submit"/> -->
            </form>
        </div>
    </main>
</body>
<!-- <script type="text/javascript">
    function redirect() {
        window.location.assign("http://localhost:3001/sendEmail");
    }
</script> -->
</html>